<!-- Core -->
<script src="{{url_for('static', filename='styles/js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='styles/js/bootstrap.bundle.min.js')}}"></script>

<!-- Theme JS -->
<script src="{{url_for('static', filename='styles/js/soft-ui-dashboard.min.js')}}"></script>

<!-- ScrollBar -->
<script src="{{url_for('static', filename='styles/js/perfect-scrollbar.min.js')}}"></script>
<script src="{{url_for('static', filename='styles/js/smooth-scrollbar.min.js')}}"></script>

<!-- Toastify -->
<script src="{{url_for('static', filename='styles/js/toastify.js')}}"></script>