<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Reset Kata Sandi Akun KlikVoting</title>
    <meta name="description" content="Reset Kata Sandi Akun KlikVoting.">
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
        .text-center{text-align:center!important}
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                          <a href="https://www.klikvoting.web.id" title="logo" target="_blank" style="text-decoration: none;">
                            <h1 class="text-center" style='font-weight:700;font-size:42px; color: black;'>KlikVoting</h1>
                          </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <h1 style="color:#1e1e2d; font-weight:400; margin:0;font-size:32px;">Permintaan Reset Kata Sandi</h1>
                                        <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            Anda menerima email ini karena telah mengirim permintaan reset kata sandi untuk akun Organizer Anda pada KlikVoting. Silakan klik tombol berikut untuk mengganti kata sandi anda.
                                        </p>
                                        <a href="www.klikvoting.web.id/reset/{{reset_key}}/"
                                            style="background:#3d5a80;text-decoration:none !important; font-weight:500; margin-top:25px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Reset
                                            Kata Sandi
                                        </a>
                                        <p style="color:#455056; font-size:15px; line-height:24px; margin:0; margin-top:25px">
                                            Anda bisa menggunakan link ini hingga {{time_left}}. Setelah waktu tersebut, Anda perlu meminta ulang reset kata sandi.
                                        </p>
                                        <p style="color:#455056; font-size:15px; line-height:24px; margin:0; margin-top:15px">
                                            Jika Anda tidak pernah mengirim permintaan ini, Anda dapat <a href="www.klikvoting.web.id/reset-cancel/{{reset_key}}/">membatalkan permintaan</a> atau membutuhkan informasi lebih lanjut, silakan menghubungi kami melalui <a href="mailto:info.klikvoting@gmail.com" target="_blank">info.klikvoting@gmail.com</a>.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong>www.klikvoting.web.id</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>
