{% extends 'base.html' %}
{% block sub_content %}

<div class="container position-sticky z-index-sticky top-0 d-none d-md-block">
    <div class="row">
        <div class="col-6">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent position-absolute top-0 z-index-3 w-100 shadow-none my-3 mt-4">
                <div class="container-fluid">
                    <ul class="navbar-nav ml">
                        <li class="nav-item">
                            <h1 class="font-weight-bolder text-gradient text-primary ms-login">KlikVoting</h1>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>
<main class="main-content mt-0">
    <section>
        <div class="page-header min-vh-90">
            <div class="container">
                <div class="row d-block d-md-none">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-center bg-transparent">
                            <h1 class="display-2 font-weight-bolder text-gradient text-primary">KlikVoting</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-3 mt-md-6">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">Selamat Datang Organizer!</h3>
                                <p class="mb-0">Masukkan email dan kata sandi untuk Login</p>
                            </div>
                            <div class="card-body">
                                <form role="form" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon" name="email" id="emailInput" required>
                                        <label class="text-gradient text-primary h6" for="emailInput">Email</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" placeholder="Kata Sandi" aria-label="Password" aria-describedby="password-addon" name="password" id="passwordInput" required>
                                        <label class="text-gradient text-primary h6" for="passwordInput">Kata Sandi</label>
                                    </div>
                                    <p class="cursor-pointer text-center text-sm text-danger text-gradient font-weight-bold mb-0" data-bs-toggle="modal" data-bs-target="#request-reset">
                                      Lupa kata sandi?
                                    </p>
                                    <div class="text-center">
                                        <button type="submit" name="submit" value="login" class="btn btn-lg bg-gradient-info w-100 mt-4 mb-0">Login</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-2 text-sm mx-auto">
                                    Belum punya akun Organizer?<br class="d-block d-sm-none">
                                    <a href="/registration/" class="text-info text-gradient font-weight-bold">Registrasi akun baru</a>
                                </p>
                                <p class="mb-4 text-sm mx-auto">
                                    atau
                                    <a href="/voting-page/" class="text-info text-gradient font-weight-bold">Login sebagai Candidate/Voter</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n7" style="background-image:url('{{url_for('static', filename='images/core/login.jpg')}}')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer -->
<footer class="footer py-45">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center mt-1">
                <p class="mb-0 text-secondary">
                    Copyright © <script>
                        document.write(new Date().getFullYear())

                    </script> <i class="fa fa-heart"></i> <span class="font-weight-bold">KlikVoting Web App</span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Modal Change Pass -->
<div class="modal fade" id="request-reset" tabindex="-1" role="dialog" aria-labelledby="request-reset" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bolder text-gradient text-dark">Permintaan Reset Kata Sandi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body align-middle">
                    <p class="h6 ps-1">Silahkan masukkan email Anda.</p>
                    <div class="form-floating mb-3">
                        <input type="emaul" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="request-email" name="request-email" id="requestEmail" required>
                        <label class="text-muted h6" for="requestEmail">Email</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary my-0" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" name="submit" value="request-email" class="btn bg-gradient-dark my-0">Kirim</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include '_script.html' %}
{% endblock %}
