{% extends 'base.html' %}
{% block sub_content %}

<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    {% include '_navbar.html' %}

    <div class="container-fluid">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{{url_for('static', filename='images/core/profile.jpg')}}'); background-position-y: 50%;">
        </div>
        <div class="mt-n12 mt-lg-0">
          <div class="card card-body blur shadow-blur mx-4 mt-n9 overflow-hidden">
            <div class="row">
              <div class="col-auto">
                <div class="avatar avatar-xl position-relative align-middle">
                  <img src="/static/images/card_id/{{userData['card_id']}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm" id='card_id' type="button" onclick="card_id('{{userData['card_id']}}')" data-bs-toggle="modal" data-bs-target="#modal-cardid">
                </div>
              </div>
              <div class="col-auto my-auto">
                <div class="h-100">
                  <h5 class="mb-1">
                    {{userData['name']}}
                  </h5>
                  <p class="mb-0 text-dark font-weight-bold text-sm">
                    {{userData['institution']}}
                  </p>
                  {% if userData['status'] == 'approved': %}
                  <span class="badge bg-gradient-success text-xxs">Diterima</span>
                  {% elif userData['status'] == 'disproved': %}
                  <span class="badge bg-gradient-danger text-xxs">Ditolak</span>
                  {% elif userData['status'] == 'pending' %}
                  <span class="badge bg-gradient-warning text-xxs">Menunggu Konfirmasi</span>
                  {% elif userData['status'] == 'inactived' %}
                  <span class="badge bg-gradient-danger text-xxs">Nonaktif</span>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 col-lg-8 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="row">
                  <div class="col-auto">
                    <p class="text-uppercase text-primary text-sm font-weight-bolder mb-1">Kontak</p>
                    <p class="text-sm text-dark font-weight-bold mb-0">{{userData['email']}}</p>
                    <p class="text-sm text-dark mb-0">{{userData['number']}}</p>
                  </div>
                  <div class="col">
                    <p class="text-uppercase text-primary text-sm font-weight-bolder mb-1">Alamat</p>
                    <p class="text-sm text-dark mb-0">{{userData['address']}}</p>
                  </div>
                  <div class="col-auto">
                    <div class="row">
                      <div class="col-auto">
                        <p class="text-uppercase text-primary text-sm font-weight-bolder mb-1">Total Voting</p>
                        <p class="text-sm text-dark mb-0"><span class="font-weight-bolder">{{voting['total']}}</span> kegiatan</p>
                      </div>
                      <div class="col-auto">
                        <p class="text-uppercase text-dark text-sm font-weight-bolder mb-1">Voting Nonaktif</p>
                        <p class="text-sm text-dark mb-0"><span class="font-weight-bolder">{{voting['disactive']}}</span> kegiatan</p>
                      </div>
                      <div class="col-auto">
                        <p class="text-uppercase text-dark text-sm font-weight-bolder mb-1">Voting Aktif</p>
                        <p class="text-sm text-dark mb-0"><span class="font-weight-bolder">{{voting['active']}}</span> kegiatan</p>
                      </div>
                      <div class="col-auto">
                        <p class="text-uppercase text-dark text-sm font-weight-bolder mb-1">Voting Selesai</p>
                        <p class="text-sm text-dark mb-0"><span class="font-weight-bolder">{{voting['finish']}}</span> kegiatan</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
            <div class="col-auto">
                <div class="card card-body blur shadow-blur ms-4 mt-2">
                    <div class="row">
                        <div class="col-auto">
                            <p class="text-uppercase text-dark font-weight-bolder mt-2 mb-0 align-middle">Perbaikan Data Organizer</p>
                        </div>
                        <div class="col-auto px-1">
                            <button type="button" class="btn bg-gradient-warning mb-0" data-bs-toggle="modal" data-bs-target="#change-cardid">Kartu ID</button>
                        </div>
                        <div class="col-auto px-1">
                            <button type="button" class="btn bg-gradient-info mb-0" data-bs-toggle="modal" data-bs-target="#change-profile">Profil Akun</button>
                        </div>
                        <div class="col-auto ps-1">
                            <button type="button" class="btn bg-gradient-dark mb-0" data-bs-toggle="modal" data-bs-target="#change-pass">Kata Sandi</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ps-0">
                <div class="card card-body blur shadow-blur me-4 mt-2">
                    <div class="row">
                        {% if userData['status'] == 'approved': %}
                        <div class="col-auto">
                            <i class="fas fa-check-circle text-success fs-2 pt-1"></i>
                        </div>
                        <div class="col ps-0">
                            <p class="text-sm text-dark pt-2 mt-1 mb-0">Data Akun telah dikonfirmasi oleh Admin.</p>
                        </div>
                        <div class="col-auto">
                            <p class="text-uppercase text-dark font-weight-bolder mt-2 mb-0 align-middle">Tambah Kegiatan Voting</p>
                        </div>
                        <div class="col-auto ps-1 pe-25">
                            <button type="button" class="btn bg-gradient-primary mb-0" data-bs-toggle="modal" data-bs-target="#create-voting">Buat Baru</button>
                        </div>
                        {% elif userData['status'] == 'disproved': %}
                        <div class="col-auto">
                            <i class="fas fa-times-circle text-danger fs-2 pt-1"></i>
                        </div>
                        <div class="col ps-0">
                            <p class="text-sm text-dark mb-0">Data Akun ditolak, lakukan perbaikan berikut:<br>{{userData['message']}}</p>
                        </div>
                        {% elif userData['status'] == 'pending' %}
                        <div class="col-auto">
                            <i class="fas fa-exclamation-circle text-warning fs-2 pt-1"></i>
                        </div>
                        <div class="col ps-0">
                            <p class="text-sm text-dark mb-0">Data Akun sedang dikonfirmasi oleh Admin.<br>Untuk sementara Anda tidak dapat membuat voting baru dan hanya mengelola voting yang telah dibuat.</p>
                        </div>
                        {% elif userData['status'] == 'inactived' %}
                        <div class="col-auto">
                            <i class="fas fa-exclamation-circle text-danger fs-2 pt-1"></i>
                        </div>
                        <div class="col ps-0">
                            <p class="text-sm text-dark mb-0">Data Akun sedang telah dinonaktifkan oleh Admin. Anda tidak dapat membuat voting baru maupun mengelola voting yang telah dibuat, silahkan perbaharui profil untuk mengaktifkan akun Anda kembali.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col max-height-vh-cal-org pe-0">
                <div class="card card-calendar">
                    <div class="card-body p-3">
                        <div class="calendar fc fc-media-screen fc-direction-ltr fc-theme-standard" data-bs-toggle="calendar" id="calendar"></div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card max-height-vh-cal-org">
                    <div class="card-header pb-0">
                        <h6>Daftar Kegiatan Voting</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-4 fit"></th>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-2 fit">ID Voting</th>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-2">Nama Kegiatan</th>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder ps-2">Deskripsi</th>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder text-center fit">Tanggal</th>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder text-end pe-4 fit">Opsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if votingDetails != None: %}
                                    {% for votingDetail in votingDetails: %}
                                    <tr>
                                        <td>
                                            <div class="d-inline-flex ps-2 pe-0 py-1">
                                                <div class="icon icon-sm icon-shape {{'bg-gradient-dark' if votingDetail['date_end'] < now else ('bg-gradient-warning' if votingDetail['date_start'] > now else 'bg-gradient-success')}} shadow text-center border-radius-md">
                                                    {% if votingDetail['date_end'] < now: %}
                                                    <i class="fas fa-calendar-check fs-7"></i>
                                                    {% elif votingDetail['date_start'] > now: %}
                                                    <i class="fas fa-calendar-times fs-7"></i>
                                                    {% else: %}
                                                    <i class="fas fa-calendar fs-7"></i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="mb-0 text-sm font-weight-bold">{{votingDetail['id_voting']}}</p>
                                        </td>
                                        <td class="text-wrap min-width-170">
                                            <p class="text-sm font-weight-bold mb-0 text-dark">{{votingDetail['name']}}</p>
                                        </td>
                                        <td class="text-wrap">
                                            <p class="text-sm mb-0 text-dark">{{votingDetail['voting_desc']}}</p>
                                        </td>
                                        <td class="text-center">
                                            <span class="text-secondary text-xs font-weight-bold">
                                                {{votingDetail['date_start'].strftime('%d/%m/%Y')}} - {{votingDetail['date_end'].strftime('%d/%m/%Y')}}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="/organizer/voting/{{votingDetail['id_voting']}}" class="btn btn-xs bg-gradient-info mb-0 me-2">Detail</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else: %}
                                    <tr>
                                        <td colspan="5">
                                            <div class="align-middle text-center">
                                                <p class="text-xs text-secondary mb-0">Data Voting tidak ditemukan</p>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Calendar -->

    <!-- Modal Card ID -->
    <div class="modal fade" id="modal-cardid" tabindex="-1" role="dialog" aria-labelledby="modal-cardid" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bolder text-gradient text-primary">Kartu ID</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body align-middle text-center">
                    <img src="" class="img-fluid border-radius-lg avatar-responsive" alt="Kartu ID" id="img_cardid">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Change Card ID -->
    <div class="modal fade" id="change-cardid" tabindex="-1" role="dialog" aria-labelledby="change-cardid" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder text-gradient text-warning">Ubah Kartu ID</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body align-middle">
                        <label class="text-muted h6" for="cardIdInput">Foto Kartu ID (KTP/Kartu Pelajar)</label>
                        <input type="file" class="form-control form-control-lg" placeholder="Kartu ID" aria-label="Kartu ID" aria-describedby="card-id-addon" name="card_id" id="cardIdInput" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary my-0" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" name="submit" value="change-cardid" class="btn bg-gradient-warning my-0">Kirim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Change Profile -->
    <div class="modal fade" id="change-profile" tabindex="-1" role="dialog" aria-labelledby="change-profile" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder text-gradient text-info">Ubah Profil Akun</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body align-middle text-center">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Nama" aria-label="Nama" aria-describedby="nama-addon" name="name" id="namelInput" value="{{userData['name']}}" required>
                            <label class="text-muted h6" for="nameInput">Nama</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon" name="email" id="emailInput" value="{{userData['email']}}" required>
                            <label class="text-muted h6" for="emailInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="No. HP" aria-label="No. HP" aria-describedby="number-addon" name="number" id="numberInput" value="{{userData['number']}}" required>
                            <label class="text-muted h6" for="numberInput">No. HP</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Institusi" aria-label="Institusi" aria-describedby="institution-addon" name="institution" id="institutionInput" value="{{userData['institution']}}" required>
                            <label class="text-muted h6" for="institutionInput">Institusi</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Alamat" aria-label="Alamat" aria-describedby="address-addon" name="address" id="addressInput" style="height: 6rem" required>{{userData['address']}}</textarea>
                            <label class="text-muted h6" for="addressInput">Alamat</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary my-0" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" name="submit" value="change-profile" class="btn bg-gradient-info my-0">Kirim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Change Pass -->
    <div class="modal fade" id="change-pass" tabindex="-1" role="dialog" aria-labelledby="change-pass" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder text-gradient text-dark">Ubah Kata Sandi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body align-middle">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Kata Sandi" aria-label="Kata Sandi" aria-describedby="password-addon" name="current_pass" id="currentPasswordInput" required>
                            <label class="text-muted h6" for="currentPasswordInput">Kata Sandi Saat Ini</label>
                        </div>
                        <p class="h6 ps-1 text-gradient text-primary ">Kata Sandi Baru</p>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Kata Sandi" aria-label="Kata Sandi" aria-describedby="password-addon" name="new_pass" id="passwordInput" required>
                            <label class="text-muted h6" for="passwordInput">Kata Sandi</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Konfirmasi Kata Sandi" aria-label="Konfirmasi Kata Sandi" aria-describedby="confirm-password-addon" name="confirm_new_pass" id="confirmPasswordInput" required>
                            <label class="text-muted h6" for="confirmPasswordInput">Konfirmasi Kata Sandi</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary my-0" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" name="submit" value="change-pass" class="btn bg-gradient-dark my-0">Kirim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if userData['status'] == 'approved': %}
    <!-- Modal Create Voting -->
    <div class="modal fade" id="create-voting" tabindex="-1" role="dialog" aria-labelledby="create-voting" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder text-gradient text-primary">Buat Voting Baru</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body align-middle">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Nama Kegiatan" aria-label="Nama Kegiatan" aria-describedby="name-addon" name="name" id="nameInput" required>
                            <label class="text-muted h6" for="nameInput">Nama Kegiatan</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Deskripsi Kegiatan" aria-label="Deskripsi Kegiatan" aria-describedby="voting-desc-addon" name="voting_desc" id="votingDescInput" style="height: 6rem" required></textarea>
                            <label class="text-muted h6" for="votingDescInput">Deskripsi Kegiatan</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Rentang Pelaksanaan Kegiatan" aria-label="Rentang Pelaksanaan Kegiatan" aria-describedby="datetimes-addon" name="datetimes" id="datetimesInput" required>
                            <label class="text-muted h6" for="datetimesInput">Rentang Pelaksanaan Kegiatan</label>
                        </div>
                        <label for="check-candidate" class="form-label h6 text-gradient text-primary">Kelengkapan data Candidate</label>
                        <div class="form-check" id="check-candidate">
                            <input class="form-check-input" type="checkbox" id="candidate-name" checked disabled>
                            <input type="hidden" value="cname" name="candidate">
                            <label class="form-check-label" for="candidate-name">Nama Lengkap</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="cdesc" name="candidate" id="candidate-desc" checked>
                            <label class="form-check-label" for="candidate-desc">Deskripsi dan Informasi Lainnya</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="cavatar" name="candidate" id="candidate-avatar" checked>
                            <label class="form-check-label" for="candidate-avatar">Foto/Gambar Candidate</label>
                        </div>
                        <label for="check-voter" class="form-label h6 text-gradient text-primary">Kelengkapan data Voter</label>
                        <div class="form-check" id="check-voter">
                            <input class="form-check-input" type="checkbox" id="voter-name" checked disabled>
                            <input type="hidden" value="vname" name="voter">
                            <label class="form-check-label" for="voter-name">Nama Lengkap</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="vdesc" name="voter" id="voter-desc" checked>
                            <label class="form-check-label" for="voter-desc">Deskripsi dan Informasi Lainnya</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="vavatar" name="voter" id="voter-avatar">
                            <label class="form-check-label" for="voter-avatar">Foto/Gambar Voter</label>
                        </div>
                        <label for="switch-viewer" class="form-label h6 text-gradient text-primary">Melihat Live Count tanpa akun?</label>
                        <div class="form-check form-switch" id="switch-viewer">
                            <input class="form-check-input" type="checkbox" name="viewer_access" id="viewer-access">
                            <label class="form-check-label" for="viewer-access">Berikan Akses Viewer</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary my-0" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" name="submit" value="create-voting" class="btn bg-gradient-primary my-0">Kirim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</main>

{% include '_script.html' %}

<!-- Moment -->
<script src="{{url_for('static', filename='styles/js/moment.min.js')}}"></script>
<!-- FullCalendar -->
<script src="{{url_for('static', filename='styles/js/fullcalendar.min.js')}}"></script>
<!-- Date Range Picker -->
<script src="{{url_for('static', filename='styles/js/daterangepicker.min.js')}}"></script>

<script type="text/javascript">
    function card_id(value) {
        var card_id = value
        $("#img_cardid").attr('src', '/static/images/card_id/' + card_id);
    }

    $(function() {
        $('#datetimesInput').daterangepicker({
            timePicker: true,
            minDate: moment().startOf('hour').add(1, 'hour'),
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(25, 'hour'),
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        });
    });

    var calendar = new FullCalendar.Calendar(document.getElementById("calendar"), {
        initialView: "dayGridMonth",
        headerToolbar: {
            start: 'title', // will normally be on the left. if RTL, will be on the right
            center: '',
            end: 'today prev,next' // will normally be on the right. if RTL, will be on the left
        },
        selectable: false,
        editable: false,
        initialDate: moment().format('YYYY-MM-DD'),
        events: [
            {% if votingDetails != None %}
            {% for votingDetail in votingDetails: %}
            {
                title: '{{votingDetail['name']}}',
                start: moment('{{votingDetail['date_start']}}').format('YYYY-MM-DD'),
                end: moment(moment('{{votingDetail['date_end']}}').add(1, 'days')).format('YYYY-MM-DD'),
                className: '{{'bg-gradient-dark' if votingDetail['date_end'] < now else ('bg-gradient-warning' if votingDetail['date_start'] > now else 'bg-gradient-success')}}'
            },
            {% endfor %}
            {% endif %}
        ],
        views: {
            month: {
                titleFormat: {
                    month: "long",
                    year: "numeric"
                }
            },
            agendaWeek: {
                titleFormat: {
                    month: "long",
                    year: "numeric",
                    day: "numeric"
                }
            },
            agendaDay: {
                titleFormat: {
                    month: "short",
                    year: "numeric",
                    day: "numeric"
                }
            }
        },
    });

    calendar.render();

</script>

{% endblock %}
