{% extends 'base.html' %}
{% block sub_content %}

<main class="main-content mt-0">
    <section>
        <div class="container mt-6 mt-md-0">
            <div class="row">
                <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
                    <div class="card z-index-0">
                        <div class="card-header text-center pt-4 pb-0">
                            <div class="position-relative text-center">
                              <h1 class="font-weight-bolder">KlikVoting</h1>
                              <h3 class="mb-2 mt-md-7 mt-3">Reset Kata Sandi</h3>
                              <p class="text-lead">Buat akun Organizer dan kelola voting Anda</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form text-left" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" placeholder="Nama" aria-label="Nama" aria-describedby="nama-addon" name="name" id="nameInput" required>
                                            <label class="text-muted h6" for="nameInput">Nama</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon" name="email" id="emailInput" required>
                                            <label class="text-muted h6" for="emailInput">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" placeholder="Kata Sandi" aria-label="Kata Sandi" aria-describedby="password-addon" name="password" id="passwordInput" required>
                                            <label class="text-muted h6" for="passwordInput">Kata Sandi</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" placeholder="Konfirmasi Kata Sandi" aria-label="Konfirmasi Kata Sandi" aria-describedby="confirm-password-addon" name="confirm_password" id="confirmPasswordInput" required>
                                            <label class="text-muted h6" for="confirmPasswordInput">Konfirmasi Kata Sandi</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" placeholder="No. HP" aria-label="No. HP" aria-describedby="number-addon" name="number" id="numberInput" required>
                                            <label class="text-muted h6" for="numberInput">No. HP</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" placeholder="Institusi" aria-label="Institusi" aria-describedby="institution-addon" name="institution" id="institutionInput" required>
                                            <label class="text-muted h6" for="institutionInput">Institusi</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Alamat" aria-label="Alamat" aria-describedby="address-addon" name="address" id="addressInput" style="height: 6rem" required></textarea>
                                    <label class="text-muted h6" for="addressInput">Alamat</label>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-md-auto">
                                            <label class="text-muted h6 pt-25" for="cardIdInput">Foto Kartu ID (KTP/Kartu Pelajar)</label>
                                        </div>
                                        <div class="col">
                                            <input type="file" class="form-control form-control-lg" placeholder="Kartu ID" aria-label="Kartu ID" aria-describedby="card-id-addon" name="card_id" id="cardIdInput" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="text-sm font-weight-bold mb-2 text-secondary">Dengan registrasi, Anda menyetujui <span class="text-dark font-weight-bolder">Syarat dan Ketentuan Kebijakan Privasi</span> kami</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mx-auto">
                                        <div class="text-center">
                                            <button type="submit" name="submit" value="signup" class="btn btn-lg bg-gradient-dark w-100 my-4 mb-2">Registrasi</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="text-sm mt-3 mb-0">Sudah punya akun Organizer? <a href="/login/" class="text-dark font-weight-bolder">Login ke akun Anda</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer -->
<footer class="footer py-3">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center mt-1">
                <p class="mb-0 text-secondary">
                    Copyright © <script>
                        document.write(new Date().getFullYear())

                    </script> <i class="fa fa-heart"></i> <span class="font-weight-bold">KlikVoting Web App</span>
                </p>
            </div>
        </div>
    </div>
</footer>

{% include '_script.html' %}
{% endblock %}
